.wallet{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
    height:100%;

    display: flex;
    flex-direction: column;
    

}
.total_balance{

    border:1px solid rgb(212, 210, 210);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap:3px;

}
.inner_tb{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.inner_tb>p{
    margin:0px;
}
.unlocked_balance{

    border:1px solid #E8ECFD;
    background-color: #E8ECFD;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap:3px;
}


/* .unlocked_balance_amt{
    color: black;
    font-size:25px ;
    font-weight: bold;

} */
.subwallet_1{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    gap:12px;
}
.trn_details{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    gap:14px;
    margin-top: 18px;
}
.subwallet_2_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 25px;
    gap:10px;
    background-color: #E8ECFD;
}

.btn_blue{
    background-color: #144DDC;
    border:1px solid #144DDC;
    border-radius: 10px;
    color:white;
    font-family: Poppins;
    font-size:11px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    
}
.btn_grey{
    background-color: #F4F4F4;
    border:1px solid #F4F4F4;
    border-radius: 10px;
    color:black;
    font-family: Poppins;
    font-size:11px;
    font-weight: 500;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}
.input_grey{
    background-color: #F4F4F4;
    border:1px solid #F4F4F4;
    border-radius: 10px;
    color:black;
    font-family: Poppins;
    font-size:11px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap:10px;

}

.trn_item{
    display: flex;
    flex-direction: column;

    gap: 2px;
    
    
    
}
.sub_trn{
    display: flex;
    justify-content: space-between;
}
hr{
    border-top: 1px solid red;
  }

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
  